:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #ffffff;
  --ptimary-blue-color: #2196f3;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}
body {
  background-color: var(--accent-color);
  color: var(--title-text-color);

  font-family: Roboto, sans-serif;
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.14;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav .link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--ptimary-blue-color);
}
.site-nav {
  display: flex;
  margin-left: 85px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav .link {
  padding-bottom: 32px;
  padding-top: 32px;
  justify-content: center;
  display: block;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--ptimary-blue-color);
}
.contacts-nav {
  display: flex;
  margin-left: auto;
}
.contacts-nav .item:not(:last-child) {
  margin-right: 30px;
}
.img-nav {
  display: inline-flex;
  margin-right: 10px;
  vertical-align: middle;
  justify-content: center;
}
.logo {
  color: var(--title-text-color);

  font-family: Raleway, cursive;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
}
.logo-accent {
  color: var(--ptimary-blue-color);
}
.hero-container {
  margin-bottom: 0;
  padding: 200px 277px 195px 277px;
}
.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero1.png);

  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  color: var(--accent-color);

  width: 646px;
  margin-top: 0;
  margin-bottom: 37px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-hero {
  background-color: var(--ptimary-blue-color);
  color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  vertical-align: middle;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.features-container {
}
.features-section {
  padding-bottom: 0;
}
.features .item.item:not(:last-child) {
  margin-right: 30px;
}
.features {
  display: flex;
  padding-bottom: 94px;
}
.features-img {
  background-color: var(--secondary-bg-color);

  display: block;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
}
.subtitle .features-title {
  margin-top: 0;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

.features-title {
  color: var(--title-text-color);

  margin-bottom: 10px;
}
.features-text {
  color: var(--primary-text-color);

  margin-bottom: 0;
  line-height: 1.71;
}
.work-container {
}
.work .item:not(:last-child) {
  margin-right: 30px;
}
.work .item {
  position: relative;
}
.work {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.work-title {
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--accent-color);

  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 2px;
  width: 370px;
  min-height: 70px;
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  text-align: center;
}
.team-container {
}
.team-section {
  background-color: var(--secondary-bg-color);
}
.team .item {
  padding-bottom: 24px;
  /* width: 270px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .item:not(:last-child) {
  margin-right: 30px;
}
.team-text {
  color: var(--primary-text-color);

  margin-top: 0;
  margin-bottom: 16px;
}
.team {
  display: flex;
  font-size: 16px;
  line-height: 1.19;
}
.team-name {
  color: var(--title-text-color);

  margin-top: 0;
  margin-bottom: 10px;
  font-size: inherit;
  font-weight: 500;
}
.social {
  display: flex;
  flex-direction: row;
}
.team .line {
   {
    display: inline-block;
    margin-bottom: 30px;
  }
}

.clients-container {
}
.clients .item:not(:last-child) {
  margin-right: 30px;
}
.clients {
  display: flex;
}

/* .text {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  text-align: center;
} */
.text-span {
  background-color: var(--ptimary-blue-color);
  color: var(--accent-color);
}
.button {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border-color: transparent;
}
.button .link:hover,
.button .link:focus {
  background-color: var(--ptimary-blue-color);
  color: var(--accent-color);
}
.item {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.hidden {
  display: none;
}
.footer-container {
  padding-top: 48px;
  padding-bottom: 0;
}
.page-footer {
  background-color: var(--footer-bg-color);
}
.footer {
  display: block;
}
.footer-content {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  padding-bottom: 28;
}
.logo-studio {
  color: var(--accent-color);

  font-family: Raleway, cursive;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
}
